<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vérification OTP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='static/css/login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main">
    <div class="signup">
      <form action="{{ url_for('verify_otp_page') }}" method="POST">
        <label aria-hidden="true">Vérification OTP</label>
        <p>Entrez le code OTP envoyé à votre email</p>
        <input type="text" name="otp" placeholder="Entrez le code OTP" required>
        <button type="submit">Vérifier OTP</button>
        <div class="message">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {{ messages[0] }}
            {% endif %}
          {% endwith %}
        </div>
      </form>
    </div>
  </div>
</body>
</html>